{% extends 'main/layout.html' %}

{% block title %}Сторінка про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Наша компанія реалізує м'ясо курки (як цілі тушки, так і "по частинах"). У нас підприємство повного циклу – ми вирощуємо курку, ретельно стежимо за якістю на всіх етапах. Годуємо тільки якісними кормами без шкідливих добавок. Вся наша продукція проходить суворий контроль якості на всіх етапах. У нас є ряд контрактів з великими торговельними мережами.</p>
        <div class="content">
                <img src="static/main/img/meat_img_1.PNG" alt="place_1" class="images">
                <h3>Ми у Вінниці</h3>
                <a class="div_a" target="_blank" href="https://www.google.com.ua/maps/place/Myasomarket/@49.2200218,28.4383686,17z/data=!4m12!1m6!3m5!1s0x472d5d39045f38eb:0xf1e7e49bec3a0df!2sMyasomarket!8m2!3d49.2200556!4d28.4404863!3m4!1s0x472d5d39045f38eb:0xf1e7e49bec3a0df!8m2!3d49.2200556!4d28.4404863?hl=ru">Переглянути</a>
        </div>
        <div class="content">
                <img src="static/main/img/meat_img_2.PNG" alt="place_1" class="images">
                <h3>Ми у Тернополі</h3>
                <a class="div_a" target="_blank" href="https://www.google.com.ua/maps/place/%D0%9C'%D1%8F%D1%81%D0%BE/@49.5555471,25.5868662,15z/data=!4m5!3m4!1s0x4730314b6d80fd9d:0xc41b07dbdabd81bf!8m2!3d49.5555471!4d25.5956209?hl=ru">Переглянути</a>
        </div>
    </div>
{% endblock %}